@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,500&family=Rubik:ital,wght@0,500;1,400;1,500&display=swap');
/*font-family: 'Alegreya Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;*/
*{
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:darkgrey;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px 50px;

}

.logo{
    text-decoration:none;
    color:rgb(108, 34, 26);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em; /* where 1em = 16px*/ 
}

.navigation a{
    color: rgb(108, 34, 26);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: rgb(67, 22, 17);
}


section{
    padding:  30px;
}

.main{
    width:100% ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/22.jpg) no-repeat;
    background-position: right;
    background-attachment: fixed ;
    background-color:rgb(234, 216, 192);
}

.main h2{
    color: aliceblue;
    font-size: 1.4em;
    font-weight: 700;
}


.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(214, 54, 54);
    font-size: 3em;
    font-weight: 600;
}


.main h3{
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.main-btn{
    color: aliceblue;
    background-color:  rgb(214, 54, 54);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block; /*intead of margin tio && botton*/
    padding: 0.97375em 2.1875em; /* em*16=px*/
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: rgb(157, 39, 39);
    transform: scale(1.1,1.1);
}

.social-icons a {
    color:aliceblue;
    font-size: 2em;
    padding-right: 40px;
}


.title{
    display: flex;
    justify-content: center;
    color:rgb(157, 39, 39);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Card{
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}


.Card:hover{
    transform: scale(1.1);
}

.icon{
    color: rgb(157, 39, 39);
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: rgb(157, 39, 39);
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}


.info p{
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2em;
    margin: 15px;
}


.contact .icon{
    font-size: 4.5em;   
}

.contact .info h3{
    color: rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 700 ;
}

.footer{
    background-color: darkgrey;
    color: aliceblue;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #ffffff;
    font-size: 40px;
}

.footer .social-icons {
    margin-right: 5px;
}
